.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: Calibri;
    font-size: 17px;
}

.menu{
    border: 1px solid black;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    box-shadow:10px 5px rgba(0, 0, 0, 0.35);
}

.menu h1{
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons :hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.buttons :active{
    background-color: #6e6e00;

}

.button{
    border: 1px solid black;
    width: 80px;
    height: 50px;
    margin-bottom: 20px;
}



