.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: Calibri;
    font-size: 17px;
}

.menu {
    border: 1px solid black;
    width: 400px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.35);
    height: 150px;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.form input {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    width: 200px;
}

.form button{
    background: none;
    border: 1px solid black;
    font-size: 17px;
    margin-top: 10px;
    width: 200px;
}

.form button:hover{
    background: black;
    color: white;
}

.form button:active{
    background: #6e6e00;
}